version: "3.9"

services:
  backend:
    image: yourdockerhubuser/attendance-backend:latest
    container_name: backend
    ports:
      - "5000:5000"
    restart: always
    environment:
      - NODE_ENV=production

  frontend:
    image: yourdockerhubuser/attendance-frontend:latest
    container_name: frontend
    ports:
      - "80:80"
    restart: always
